---
import BlogLayout from "@/layouts/blog-layout.astro";
import { wpquery } from "../data/wordpress";
import { siteConfig } from "@/site.config";
import PostCard from "@/components/post-card.astro";
import Button from "@/components/atoms/button/button.astro";
import "../styles/layout/blog.css";
import BlogCategoryFilter from "@/components/BlogCategoryFilter.jsx";

const data = await wpquery({
  query: `
      query getAllPosts {
        posts {
          nodes {
            slug
            title
            featuredImage {
              node {
                altText
                mediaItemUrl
                sizes
                srcSet
              }
            }
            content(format: RENDERED)
            author {
              node {
                name
              }
            }
            categories {
              nodes {
                slug
                name
              }
            }
          }
        }
      }
	`,
});

const title = `${siteConfig.title} - Marconte !`;
const categories = [
  // list of categories object removing duplicates
  ...new Set(
    data.posts.nodes
      .map((post: any) =>
        post.categories.nodes.map((category: any) => category.name)
      )
      .flat()
  ),
];
---

<BlogLayout
  author={siteConfig.author}
  description={siteConfig.description}
  title="Thatmuch - Le blog de l'équipage"
>
  <section slot="posts">
    <BlogCategoryFilter
      posts={data.posts.nodes}
      categories={categories}
      client:load
    />
  </section>
</BlogLayout>
