---
import BlogLayout from "@/layouts/blog-layout.astro";
import { wpquery } from "../data/wordpress";
import { siteConfig } from "@/site.config";
import PostCard from "@/components/post-card.astro";
import Button from "@/components/atoms/button/button.astro";
import "../styles/layout/blog.css";

const data = await wpquery({
  query: `
      query getAllPosts {
        posts {
          nodes {
            slug
            title
            featuredImage {
              node {
                altText
                mediaItemUrl
                sizes
                srcSet
              }
            }
            content(format: RENDERED)
            author {
              node {
                name
              }
            }
                      categories {
          nodes {
            slug
            name
          }
        }
          }
        }
      }
	`,
});

const title = `${siteConfig.title} - Marconte !`;
---

<BlogLayout
  author={siteConfig.author}
  description={siteConfig.description}
  title="Thatmuch - Le blog de l'équipage"
>
  <section slot="posts">
    <h2>Catégories</h2>
    <div class="flex flex-wrap gap-4">
      <a class="bg-blue-french text-white px-4 py-2 rounded-lg" href="">Tout</a>
      {
        data.posts.nodes.map((post: any) => {
          return (
            <a
              href={`/blog/${post.categories.nodes[0].slug}`}
              class="bg-blue-french text-white px-4 py-2 rounded-lg"
            >
              {post.categories.nodes[0].name}
            </a>
          );
        })
      }
    </div>
    <div class="w-100 flex flex-col items-center gap-8">
      <div class="PostsGrid">
        {
          data.posts.nodes.slice(0, 8).map((post: any) => {
            return (
              <PostCard
                title={post.title}
                category={post?.categories?.nodes[0]}
                url={`/blog/${post.slug}`}
              />
            );
          })
        }
      </div>
      <Button label="Tous les articles" />
    </div>
  </section>
</BlogLayout>
